.daily {
  margin-top: 2rem;
}

.daily h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.daily-cards {
  display: grid;
  grid-template-columns: repeat(7, minmax(80px, 1fr));
  gap: 0.75rem;
}


.daily-card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid hsl(243, 23%, 30%);
  border-radius: 14px;
  padding: 0rem 0.6rem;

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  transition: background 0.2s ease;
}

.daily-card:hover {
  background: rgba(255, 255, 255, 0.1);
}


.daily-card .day-name {
  font-size: 0.95rem;
  font-weight: 600;
  color: hsl(240, 6%, 70%);
}

.daily-card .daily-icon {
  width: 60px;
  height: 60px;
  margin: auto;
}


.daily-card .temp-range {
  display: flex;
  color: white;
  justify-content: space-between;
}

.max-temp{
  font-size: 12px;
  font-weight: 200;
}

.min-temp{
  font-size: 12px;
  font-weight: 200;
}

@media (max-width: 768px) {
  .daily-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .daily h3 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
  }

  .daily-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
  }

  .daily-card {
    border-radius: 16px;
    padding: 0.5rem;
  }

  .daily-card .day-name {
    font-size: 0.85rem;
  }

  .daily-card .daily-icon {
    width: 46px;
    height: 46px;
  }

  .max-temp,
  .min-temp {
    font-size: 0.75rem;
  }
}

